h3.file-title {
  margin-bottom: 5px;
}

.columns.files {
  padding-top: 10px;
  padding-bottom: 10px;
}

.is-right {
  text-align: right;
}

.tags {
  justify-content: right;
  padding-top: 5px;
}

.is-right {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: right;
  gap: 5px;
}
