<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} | SCP Uploader</title>

    <!-- Search -->
    <meta name="title" content="{{ title }} | SCP Uploader" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{%block tags%}Sonolus,ソノラス,創作譜面{%endblock%}" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <!-- OGP -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="https://scp-uploader.f5.si/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="SCP Uploader" />
    <meta property="og:locale" content="en_US" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/main.css" />

    <!-- JS -->
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/navbar.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const legal = document.getElementById("legal");
        legal.href =
          "mailto:39kawaii@scp-uploader.f5.si?subject=Copyright infringement&body=Please include the following information in your email.%0D%0A%0D%0A1.%20Specify the URL of the content that is subject to copyright infringement (URL of the SCP file).%0D%0A2.%20Briefly explain why you believe the URL infringes copyright.%0D%0A3.%20Clearly state whether the copyrighted works are managed by the rights holder's company or by a management company entrusted with that task.";
      });
    </script>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://scp-uploader.f5.si"> SCP Uploader </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/new"> New </a>

          <a class="navbar-item" href="/popular"> Popular SCP files </a>

          <a class="navbar-item" href="/search"> Search </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about-scp"> About SCP files </a>
              <a class="navbar-item" href="/about"> About This site </a>
              <a class="navbar-item" href="/terms"> Terms of use </a>
              <a class="navbar-item" href="/privacy"> Privacy Policy </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" id="legal"> Report copyright infringement </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Language (言語)</a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/change-language?localization=ja&returnTo={{request.url.path}}"
                >Japanese (日本語)</a
              >
              <a class="navbar-item" href="/change-language?localization=en&returnTo={{request.url.path}}"
                >English (英語)</a
              >
            </div>
          </div>

          {% if user is none %}
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/login"> <b> Login </b> </a>
            </div>
          </div>
          {% else %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> {{ user.name }}#{{ user.handle }} </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/users/{{ user.id }}"> My Page </a>
              <a class="navbar-item" href="/upload"> SCP file upload </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" href="/logout"> Logout </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block body %} {% endblock %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>SCP Uploader</strong> by <a href="https://nennneko5787.net">nennneko5787</a>.</p>
      </div>
    </footer>
  </body>
</html>
