{% extends "en/base.html" %} {% set title = file.name %} {% set description = file.description.replace("\r\n", "
").replace("\r", " ").replace("\n", " ") %} {% block tags %}{{ super() }}{% for tag in file.tags %},{{tag}}{% endfor
%}{% endblock %} {% block head %} {{ super() }}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock %} {% block body %}
<section class="hero is-medium is-link">
  <div class="hero-body">
    <h1 class="title is-1">{{ file.name }}</h1>
    <div class="flex">
      <div><i class="fa-solid fa-eye"></i> {{ file.views }}</div>
      <div><i class="fa-solid fa-download"></i> {{ file.downloads }}</div>
    </div>
    <p>
      <i class="fa-solid fa-user"></i>
      <a href="/users/{{file.author.id}}"><code>{{ file.author.name }}#{{ file.author.handle }}</code></a>
    </p>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="content">
          <p>
            {{file.description | replace("\r\n", "<br />") | replace("\r", "<br />") | replace("\n", "<br />") | safe}}
          </p>
          <hr />
          <div class="box">
            <p>Original collection name: <code>{{file.title}}</code></p>
            <p>File size: <code>{{file.size | truncate2}}MB</code></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box buttons">
          <a class="button is-primary is-fullwidth" href="/files/{{file.id}}/download"
            ><i class="fa-solid fa-download"></i> Download</a
          >
          <a
            class="button is-x is-fullwidth"
            href="http://twitter.com/share?url=https://scp-uploader.f5.si/files/{{file.id}}&text=I found an SCP file called {{file.name}}! Let's play it on Sonolus!"
            >Share on <i class="fa-brands fa-x-twitter" style="padding-left: 5px"></i
          ></a>
          {% if user.id == file.author.id %}
          <a class="button is-info is-fullwidth" href="/files/{{file.id}}/edit"
            ><i class="fa-solid fa-pen-to-square"></i> Edit</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cf-container"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      window.turnstile.render("#cf-container", {
        sitekey: "0x4AAAAAABoMxevN1H7j4mK7",
        size: "invisible",
        callback: async function (token) {
          await fetch(`/api/mikurinlen/{{file.id}}`, {
            method: "POST",
            headers: { "content-type": "application/json" },
            body: JSON.stringify({ gumimegu: token }),
          });
        },
      });
    }, 3000);
  });
</script>
{% endblock %}
