{% extends "en/base.html" %} {% set title = "Privacy Policy" %} {% set description = "This is the Privacy Policy of this
service. Please read it carefully." %} {% block head %} {{ super() }} {% endblock %} {% block body %}
<section class="hero is-medium is-link">
  <div class="hero-body">
    <h1 class="title is-1">Privacy Policy</h1>
    <p class="subtitle">This is the Privacy Policy of this service. Please read it carefully.</p>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Privacy Policy</h1>
      <p>
        ColorfulMirror (hereinafter referred to as "the Organization") establishes the following privacy policy
        (hereinafter referred to as "this Policy") regarding the handling of users' personal information in the services
        (hereinafter referred to as "the Service") provided on this website.
      </p>

      <h2>Article 1 (Personal Information)</h2>
      <p>
        "Personal information" refers to "personal information" as defined by the Personal Information Protection Act,
        and in this Service, only the display name, user ID, and self-introduction registered in the user's Sonolus
        account will be collected.
      </p>

      <h2>Article 2 (Method of Collecting Personal Information)</h2>
      <p>
        The Organization will obtain the display name, user ID, and self-introduction when the user links the Service
        with their Sonolus account. Other information such as name, date of birth, address, email address, and payment
        information will not be collected.
      </p>

      <h2>Article 3 (Purpose of Collecting and Using Personal Information)</h2>
      <p>The purposes for which the Organization collects and uses personal information are as follows:</p>
      <ol>
        <li>To identify users within the Service and display profile information</li>
        <li>To improve service quality and address issues</li>
        <li>For purposes incidental to the above purposes</li>
      </ol>

      <h2>Article 4 (Changes to the Purpose of Use)</h2>
      <ol>
        <li>
          The Organization may change the purpose of use of personal information only if it is reasonably recognized
          that the new purpose is related to the original purpose before the change.
        </li>
        <li>
          In the event of a change in the purpose of use, the Organization will notify users or make an announcement on
          this website regarding the new purpose, using the method prescribed by the Organization.
        </li>
      </ol>

      <h2>Article 5 (Provision of Personal Information to Third Parties)</h2>
      <p>The Organization will not provide the obtained information to third parties, except as required by law.</p>

      <h2>Article 6 (Disclosure of Personal Information)</h2>
      <ol>
        <li>
          When requested by the user to disclose their personal information, the Organization will promptly disclose it
          to the user. However, if disclosure falls under any of the following, the Organization may choose not to
          disclose all or part of the information and will notify the user of such a decision without delay. A handling
          fee of 1,000 yen per request will be charged for the disclosure of personal information.
          <ol>
            <li>
              If there is a risk of harming the life, body, property, or other rights and interests of the user or a
              third party
            </li>
            <li>
              If there is a risk of significantly interfering with the proper execution of the Organization’s business
            </li>
            <li>If it would otherwise violate laws or regulations</li>
          </ol>
        </li>
        <li>
          Notwithstanding the preceding paragraph, in principle, information other than personal information, such as
          history information and characteristic information, will not be disclosed.
        </li>
      </ol>

      <h2>Article 7 (Correction and Deletion of Personal Information)</h2>
      <ol>
        <li>
          If a user’s personal information held by the Organization is incorrect, the user may request correction,
          addition, or deletion (hereinafter referred to as "correction, etc.") of the personal information through the
          procedure prescribed by the Organization.
        </li>
        <li>
          If the Organization determines it is necessary to respond to such a request from the user, it will promptly
          make the correction, etc. to the relevant personal information.
        </li>
        <li>
          When the Organization makes a correction, etc., or decides not to do so, it will promptly notify the user of
          such a decision.
        </li>
      </ol>

      <h2>Article 8 (Suspension of Use, etc., of Personal Information)</h2>
      <ol>
        <li>
          If the user requests the suspension or deletion of personal information (hereinafter referred to as
          "suspension of use, etc.") on the grounds that it is being handled beyond the scope of the stated purpose of
          use or was obtained by unlawful means, the Organization will promptly conduct the necessary investigation.
        </li>
        <li>
          Based on the results of the investigation, if the Organization determines it is necessary to comply with the
          request, it will promptly suspend the use, etc., of the relevant personal information.
        </li>
        <li>
          When the Organization suspends the use, etc., or decides not to do so, it will promptly notify the user of
          such a decision.
        </li>
        <li>
          Notwithstanding the preceding two paragraphs, if suspension of use, etc., would require significant cost or is
          otherwise difficult to implement, and alternative measures necessary to protect the user’s rights and
          interests can be taken, the Organization will take such alternative measures.
        </li>
      </ol>

      <h2>Article 9 (Changes to the Privacy Policy)</h2>
      <ol>
        <li>
          Except where otherwise provided by law or this Policy, the Organization may change the content of this Policy
          without notifying users.
        </li>
        <li>
          Unless otherwise specified by the Organization, the revised Privacy Policy shall take effect when posted on
          this website.
        </li>
      </ol>

      <h2>Article 10 (Contact Information)</h2>
      <p>For inquiries regarding this Policy, please contact the following:</p>
      <p>Email: 39kawaii@scp-uploader.f5.si</p>
      <p style="text-align: right">End</p>
    </div>
  </div>
</div>
{% endblock %}
