{% extends "en/base.html" %} {% set title = "Terms of Service" %} {% set description = "These are the Terms of Service
for this service. Please read them carefully." %} {% block head %} {{ super() }} {% endblock %} {% block body %}
<section class="hero is-medium is-link">
  <div class="hero-body">
    <h1 class="title is-1">Terms of Service</h1>
    <p class="subtitle">These are the Terms of Service for this service. Please read them carefully.</p>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Terms of Service</h1>
      <p>
        These Terms of Service (hereinafter referred to as "these Terms") set forth the conditions of use for the
        services (hereinafter referred to as "the Service") provided by ColorfulMirror (hereinafter referred to as "the
        Organization") on this website. All registered users (hereinafter referred to as "Users") shall use the Service
        in accordance with these Terms.
      </p>

      <h2>Article 1 (Application)</h2>
      <ol>
        <li>
          These Terms shall apply to all relationships between the User and the Organization regarding the use of the
          Service.
        </li>
        <li>
          In addition to these Terms, the Organization may establish rules and other provisions regarding the use of the
          Service (hereinafter referred to as "Individual Provisions"). Regardless of their name, these Individual
          Provisions shall constitute part of these Terms.
        </li>
        <li>
          In the event of any inconsistency between the provisions of these Terms and those of the Individual
          Provisions, the provisions of the Individual Provisions shall prevail unless otherwise specified therein.
        </li>
      </ol>

      <h2>Article 2 (User Registration)</h2>
      <ol>
        <li>
          Registration for the Service shall be completed when a person wishing to register agrees to these Terms,
          applies for registration in the manner prescribed by the Organization, and the Organization approves the
          application.
        </li>
        <li>
          The Organization may refuse to approve a registration application if it determines that the applicant falls
          under any of the following, and shall have no obligation to disclose the reason:
          <ol>
            <li>If false information was provided at the time of registration</li>
            <li>If the applicant has previously violated these Terms</li>
            <li>If the Organization deems the registration inappropriate for any other reason</li>
          </ol>
        </li>
      </ol>

      <h2>Article 3 (Management of Sonolus Account)</h2>
      <ol>
        <li>The User shall be responsible for the proper management of their Sonolus account used in the Service.</li>
        <li>
          The User may not transfer, lend, or share their account with any third party under any circumstances. If a
          login is made using information matching the registered account, the Organization will consider it as being
          used by the registered User.
        </li>
        <li>
          The Organization shall not be liable for any damages arising from the use of the User ID or password by a
          third party, except in cases of willful misconduct or gross negligence by the Organization.
        </li>
      </ol>

      <h2>Article 4 (Prohibited Acts)</h2>
      <p>Users shall not engage in the following acts when using the Service:</p>
      <ol>
        <li>Acts that violate laws or public order and morals</li>
        <li>Acts related to criminal activities</li>
        <li>
          Acts that destroy or interfere with the functionality of the Organization’s, other Users’, or third parties’
          servers or networks
        </li>
        <li>Commercial use of information obtained through the Service</li>
        <li>Acts that may interfere with the operation of the Organization’s services</li>
        <li>Unauthorized access or attempts thereof</li>
        <li>Collecting or storing personal information of other Users</li>
        <li>Use of the Service for fraudulent purposes</li>
        <li>Acts that cause disadvantage, damage, or discomfort to other Users or third parties</li>
        <li>Impersonating other Users</li>
        <li>Advertising, solicitation, or business activities on the Service without the Organization’s permission</li>
        <li>Acts with the aim of meeting strangers of the opposite sex</li>
        <li>Providing benefits directly or indirectly to antisocial forces in connection with the Service</li>
        <li>Other acts deemed inappropriate by the Organization</li>
      </ol>

      <h2>Article 5 (Suspension of Service)</h2>
      <ol>
        <li>
          The Organization may suspend or interrupt the provision of all or part of the Service without prior notice to
          the User if it determines that any of the following applies:
          <ol>
            <li>When maintenance, inspection, or updates of the Service’s computer systems are carried out</li>
            <li>
              When provision of the Service becomes difficult due to force majeure such as earthquakes, lightning, fire,
              power outages, or natural disasters
            </li>
            <li>When computers or communication lines stop due to accidents</li>
            <li>When the Organization determines that it is difficult to provide the Service for other reasons</li>
          </ol>
        </li>
        <li>
          The Organization shall not be liable for any disadvantage or damage suffered by the User or a third party due
          to the suspension or interruption of the Service.
        </li>
      </ol>

      <h2>Article 6 (Usage Restrictions and Deregistration)</h2>
      <ol>
        <li>
          The Organization may, without prior notice, restrict the User’s use of all or part of the Service or cancel
          their registration if they fall under any of the following:
          <ol>
            <li>Violation of any provision of these Terms</li>
            <li>It is found that false facts were registered</li>
            <li>Failure to respond to communications from the Organization for a certain period</li>
            <li>No use of the Service for a certain period since the last use</li>
            <li>Any other case in which the Organization deems the use of the Service inappropriate</li>
          </ol>
        </li>
        <li>
          The Organization shall not be liable for any damages caused to the User due to actions taken under this
          Article.
        </li>
      </ol>

      <h2>Article 7 (Withdrawal)</h2>
      <p>Users may withdraw from the Service following the withdrawal procedure prescribed by the Organization.</p>

      <h2>Article 8 (Disclaimer and Limitation of Liability)</h2>
      <ol>
        <li>
          The Organization does not guarantee that the Service is free from factual or legal defects (including defects
          related to safety, reliability, accuracy, completeness, validity, fitness for a particular purpose, security,
          errors, bugs, or rights infringements).
        </li>
        <li>
          The Organization shall not be liable for any damages caused to the User due to the Service, except in cases of
          willful misconduct or gross negligence. However, if the contract between the Organization and the User
          regarding the Service (including these Terms) constitutes a consumer contract under the Consumer Contract Act,
          this disclaimer does not apply.
        </li>
        <li>
          Even in the case referred to in the proviso of the preceding paragraph, the Organization shall not be liable
          for damages arising from special circumstances (including cases where the Organization or the User foresaw or
          could have foreseen the occurrence of damage) due to default or tort caused by the Organization’s negligence
          (excluding gross negligence). Furthermore, compensation for damages caused to the User due to default or tort
          caused by the Organization’s negligence (excluding gross negligence) shall be limited to the amount of usage
          fees received from the User in the month in which the damage occurred.
        </li>
        <li>
          The Organization shall not be involved in, and shall not be liable for, any transactions, communications, or
          disputes between Users or between a User and a third party in relation to the Service.
        </li>
      </ol>

      <h2>Article 9 (Changes to the Service)</h2>
      <p>
        The Organization may change, add, or discontinue the content of the Service with prior notice to the User, and
        the User agrees to this.
      </p>

      <h2>Article 10 (Amendment of the Terms)</h2>
      <ol>
        <li>
          The Organization may amend these Terms without the individual consent of the User if:
          <ol>
            <li>The amendment conforms to the general interests of the User</li>
            <li>
              The amendment does not violate the purpose of the Service use agreement, and is reasonable in light of the
              necessity of the amendment, the appropriateness of the revised content, and other circumstances related to
              the amendment
            </li>
          </ol>
        </li>
        <li>
          In amending these Terms under the preceding paragraph, the Organization shall notify the User in advance of
          the fact that the Terms are to be amended, the contents of the amended Terms, and the effective date.
        </li>
      </ol>

      <h2>Article 11 (Handling of Personal Information)</h2>
      <p>
        The Organization shall properly handle personal information obtained through the use of the Service in
        accordance with its Privacy Policy.
      </p>

      <h2>Article 12 (Notices and Communications)</h2>
      <p>
        Notices or communications between the User and the Organization shall be made in the manner prescribed by the
        Organization. Unless the User submits a change notice according to the method separately specified by the
        Organization, the currently registered contact information shall be deemed valid, and notifications or
        communications sent to such contact shall be deemed to have reached the User at the time of dispatch.
      </p>

      <h2>Article 13 (Prohibition of Transfer of Rights and Obligations)</h2>
      <p>
        The User may not transfer or offer as security their contractual status under the usage agreement or rights or
        obligations under these Terms to any third party without the prior written consent of the Organization.
      </p>

      <h2>Article 14 (Governing Law and Jurisdiction)</h2>
      <ol>
        <li>These Terms shall be governed by the laws of Japan.</li>
        <li>
          In the event of a dispute regarding the Service, the court having jurisdiction over the location of the
          Organization’s headquarters shall have exclusive agreed jurisdiction.
        </li>
      </ol>

      <p style="text-align: right">End</p>
    </div>
  </div>
</div>
{% endblock %}
