{% extends "en/base.html" %} {% set title = targetUser.name + "#" + targetUser.handle %} {% set description = aboutMe %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="/static/css/user.css" />
{% endblock %} {% block body %}
<section class="hero is-medium is-link">
  <div class="hero-body">
    <h1 class="title is-1">{{ targetUser.name }}#{{ targetUser.handle }}</h1>
    <p class="subtitle">{{ targetUser.aboutMe }}</p>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column is-three-quarters">
          <h3>File List</h3>
          <div class="columns files">
            {% for file in files %} {% if file.public or targetUser.id == user.id %}
            <a class="column box is-half" href="/files/{{file.id}}">
              <h3 class="file-title">{{file.name}}</h3>
              <div class="flex">
                <div>
                  <i class="fa-solid fa-eye{% if not file.public %}-slash{% endif %}"></i>
                  <span> {{file.views}}</span>
                </div>
                <div><i class="fa-solid fa-download"></i><span> {{file.downloads}}</span></div>
              </div>
              <div class="is-right">
                <i class="fa-solid fa-user"></i>
                <code>{{file.author.name}}#{{file.author.handle}}</code>
              </div>
              <div class="tags">
                {% for tag in tags %}
                <div class="tag is-primary">{{tag}}</div>
                {% endfor %}
              </div>
            </a>
            {% endif %} {% endfor %}
          </div>
          <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="button pagination-previous {% if page <= 1 %}is-disabled{%endif%}" {% if page>
              1 %}href="?query={{query}}&page={{page-1}}"{%endif%} >Previous</a
            >
            <a class="button pagination-next" href="?query={{query}}&page={{page+1}}">Next</a>
          </nav>
        </div>
        <div class="column box">
          <div class="buttons">
            <a
              class="button is-x is-fullwidth"
              href="http://twitter.com/share?url=https://scp-uploader.f5.si/users/{{targetUser.id}}&text={{targetUser.name}}#{{targetUser.handle}}'s SCP files are awesome! Let's play them on Sonolus!"
              >Share on <i class="fa-brands fa-x-twitter" style="padding-left: 5px"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
